@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
    --background: #2E3440;
    --foreground: #4C566A;
    --midground: #434C5E;
    --text: #ECEFF4;
}

body {
    overflow: hidden;
    background-color: var(--foreground);
    color: var(--text);
    font-family: 'Inter', sans-serif;
}
.notebook {
    height: 95vh;
    width: 75vw;
    background-color: var(--background);
    margin-left: 25vw;
    border-radius: 5vw 0 0 0;
    margin-top: 5vh;
    z-index: 1000;
}
.notebook-select {

    width: 20vw;
    left: -0.01vw;
    height: 100vh;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
}

.notebooks {
    background-color: var(--background);
    border-radius: 1.5vh;
    width: 15vw;
    height:4vh;
    margin-top: 3vh;
    text-align: center;
    line-height: 4vh;
    overflow: hidden;
}
.notebooks:hover {
    background-color: var(--foreground);
    box-shadow: inset 0 0 20px var(--background);
}

.notebooks a {

}


iframe {
    width: 100%;
    margin-top: 10vh;
    height: 90vh;
    border: none;
    outline: none;
}

textarea {

}

input {
    height: 5vh;
    width: 75%;
    margin-top: 10vh;
    margin-left: 12.5%;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Inter', sans-serif;
    resize: none;
    border: none;
    outline: none;
    font-size: 5vh;
}

#notes {
    margin-top: 10vh;
    margin-left: 12.5%;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Inter', sans-serif;
    resize: none;
    border: none;
    outline: none;
    height: 90vh;
    width: 75%;
}

#dltoggle {
    height: 2vh;
    width: 2vh;
    background-color: var(--text);
    border-radius: 1vw;
    margin-left: 90vw;
    margin-top: -3.5vh;
    position: absolute;
}